/* 
    Student Name: Brittany Stallo
    Date: 10/3/24
    File Name: style.css
*/

/* CSS Reset */
body, header, nav, footer, main, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #ccc
}

img {
    background-color: #ccc;
    height: 200px;
    width: 200px;
    display: block;
}

/*Style rules for mobile viewport */

/* Hide tab-desk class */
.tab-desk {
    display: none;
}

/* Style rules for header content */
header {
    width: 100%;
    display: block;
    text-align: center;
}

/* Style rules for navigation area */
nav {
    background-color: #a30808;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.20em;
    font-family: Verdana, Arial, sans-sarif;
    font-weight: bold;
    border-top: 1px solid #fff;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Show mobile class, hid tablet-desktop class */
.mobile {
  display: block;
}

/* Style rules for main content */
main {
    clear: left;
    background-color: #ccc;
    padding: 2%;
    font-size: 1.25em;
}

.dis {
    font-family: Playfair Display;
}

.round {
    border-radius: 80%;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0.1em;
}

map {
    border: 8px solid #000;
    background-color: #ccc;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
 .tablet-desktop {
    display: block;
  }
  
  .mobile {
    display: none;
  }
  
  /* Tablet Viewport: Style rule for header */
  header {
    position: static;
    padding-bottom: 2%;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
  }
  
  nav li:last-child {
    border-right: none;
  }
  
  nav li a {
    padding: 0.1em 0.75em;
  }
  
  /* Tablet Viewport: Style rules for main content area */
  main ul {
    margin: 0 0 4% 10%;
  }


 .tel-num {
    font-size: 1.25em;
  }
  
  .map {
    width: 600px;
    height: 450px;
  }
  
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
  
  /* Desktop Viewport: Style rule for header */
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }
  
  /* Desktop Viewport: Style rule for nav area */
  nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
  }
  
  nav ul {
    text-align: right;
  }
  
  nav li {
    border: none;
  }
  
  nav li a {
    padding: 0.5em 1em;
  }
  
  nav li a:hover {
    color: #000;
    background-color: #fff;
  }
  
  /* Desktop Viewport: Style Rules for main content */
  main {
    clear: left;
  }
  
  main h1 {
    font-size: 1.8em;
  }
  
  #weights, #cardio, #training {
    width: 29%;
    float: left;
    margin: 0.2%;
  }
  
  #exercises {
    clear: left;
  }
  
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  
  #container {
    width: 1920px;
    margin: 0 auto;
  }
  
}

/* Media Query for Print */
@media print {
  
  body {
    background-color: #fff;
    color: #000;
  }
  
}